<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="BrowserDetails" value="webdriver.gecko.driver" />
	<parameter name="ExecFilePath" value="E:\\geckodriver-v0.26.0-win64\\geckodriver.exe" />
	<parameter name="AmazonURL" value="https://www.amazon.in/" />
	<parameter name="EmailID" value="Your registered mail ID for amazon" />
	<parameter name="Password" value="Password" />
	<parameter name="Value" value="1" />
	<parameter name="searchText" value="Java OCA" />
	<parameter name="ProductName" value="OCA Java SE Programmer I Certification Guide" />
  		<test thread-count="5" name="Test">
  			<classes>
  				<class name="com.Amazon.TestCases.AddingToShoppingCart">
				</class>
			</classes>
  		</test> 
</suite> 	

